body,
footer {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
}

.auth-page-active {
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  backdrop-filter: blur(10px); /* Apply blur to the background */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2); /* Add subtle inner shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Light border to enhance glass effect */
  height: 100vh; /* Ensure it fills the viewport */
  width: 100vw; /* Ensure it fills the viewport */
  overflow: hidden; /* Prevent scrollbars */
}

/* Remove blue outline when clicking or holding buttons on mobile devices */
button,
a,
input[type="text"] {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* For mobile browsers */
  -webkit-focus-ring-color: rgba(
    0,
    0,
    0,
    0
  ); /* Remove the default focus ring */
}
